* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0 5rem;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
}

main {
  flex: 1;
  margin-top: 2rem;
}

section {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

article {
  border-radius: 10px;
  background-color: aquamarine;
  padding: 1rem;
}
